<!-- Footer -->
<div class="container-fluid">

    <p class="text-center text-light">Vos-commerces.com : annuaire des commerces et <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.vos-commerces.com/librairie/le-creusot-71200">livre occasion à Le Creusot</a></p>

    <div class="row text-center footer">
        <nav class="footer-link ">
            <ul class="p-0">
                <li><a class="text-light" href="https://m.facebook.com/Le-Monde-de-Ludopus-107623401885055/" target="_blank"><i class="fa-brands fa-facebook-f px-4"></i></a></li>
                <li><a class="text-light" href="https://www.instagram.com/le_monde_de_ludopus/" target="_blank"><i class="fa-brands fa-instagram px-4"></i></a></li>
            </ul>
        </nav>
    </div>

</div>