{% extends 'base.html.twig' %}

{% block title %}Horaires et Accès{% endblock %}

{% block header %}Horaires et Accès{% endblock %}

{% block body %}

<div class="row my-5 mx-auto d-block" id="present">

  <div class="row">
    <h2 class="text-center title-of-present">Horaires</h2>
  </div>

  <div class="row">

    <p class="text-light article-size text-center">Du Mercredi au Samedi</p>

    <p class="text-light article-size text-center">14h30 - 18h30</p>

  </div>

  <div class="row">

    <h2 class="title-of-present text-center">Accès</h2>

  </div>

  <p class="text-light article-no-title text-center"><span class="fw-bold mx-2">Adresse</span></p>
  <p class="text-light article-size text-center">4 Rue Pierre Mendès France, France.</p>
  <p class="text-light article-no-title text-center"><span class="fw-bold mx-2">Code Postal et ville</span></p>
  <p class="text-light article-size text-center">71200, Le Creusot.</p>
  <p class="text-light article-no-title text-center"><span class="fw-bold mx-2">Téléphone</span></p>
  <p class="text-light article-size text-center">07 82 02 21 94</p>

  <iframe class="google-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2730.9647305728095!2d4.4174415158003875!3d46.80500065099798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f24beef8660475%3A0x843342182112ea28!2s4%20Rue%20Pierre%20Mend%C3%A8s%20France%2C%2071200%20Le%20Creusot!5e0!3m2!1sfr!2sfr!4v1657303382962!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>

{% endblock %}